section {
  margin: auto;
}

.hide {
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
  width: 0;
}

.show {
  height: auto;
  overflow: visible;
  width: 100%;
}

#productos, #carrito {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5rem;
  position: relative;

  .item-card {
    height: 100%;
    width: 100%;

    h3 {
      display: block;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  button {
    margin-top: 1rem;
  }
}

#carrito {
  .action-button {
    -webkit-appearance: none;
    appearance: none;
    background: #1A4A5E;
    border: 0;
    border-radius: 4px;
    box-shadow: .3px .3px 1px black;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    position: absolute;
    top: -2.5rem;
  }
  
  #back-to-index {
    left: 0;
  }

  #checkout {
    right: 0;
  }
}

.item-card {
  background-color: #EEEEEE;
  border-radius: 4px;
  box-shadow: .3px .3px 1px black;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  h3 {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  span {
    display: block;
    font-size: 1.6rem;
  }

  img {
    display: block;
    width: 100px;
  }
}

.item-details {
  padding: 1rem;
}

.remove-item {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.modal-underlay {
  background: rgba(black, .8);
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 9;
}

.modal-construccion {
  align-items: center;
  background: #EEEEEE;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 500px;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  width: 500px;
  z-index: 10;

  span {
    font-size: 3rem;
  }

  .close-modal {
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    right: 1rem;
    text-decoration: none;
    top: 1rem;
  }
}

@media (max-width: 768px) {
  #productos, #carrito {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  #productos, #carrito {
    grid-template-columns: 1fr;
  }
}